<% layout('layout/main') -%>
<% block('title', 'Dashboard') -%>

<section class="container mt-5">
  <div class="row my-4">
    <div class="col-md-4">
      <a href="/products/add" class="btn btn-primary" role="button" aria-pressed="true">
        Add Product
      </a>
      <a href="/products/add/category" class="btn btn-warning" role="button" aria-pressed="true">
        Create Category
      </a>
    </div>
    <div class="col-md-2 offset-md-6">
      <form action="/products/min" method="GET">
        <div class="form-row ">
          <div class="col">
            <input type="text" class="form-control" name="minPrice" placeholder="Min Price">
          </div>
        </div>
      </form>
    </div>
  </div>
  <table class=" table table-striped mb-5">
      <thead>
        <tr class="bg-primary">
          <th scope="col">Name</th>
          <th scope="col">Picture</th>
          <th scope="col">Stock</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        
          <% products.forEach((product) => { %>
            <tr>
  
        
              <td> <%= product.name %></td>
              <td> <img src="../<%= product.fileUrl %>" alt="<%= product.name %>" class="img-fluid dashboard__image" ></td>
              <td> <%= product.stock %></td>
              <td> <%= product.description %></td>
              <td> $<%= product.price %></td>
              <td>
                <a href="/products/update/<%= product.id %>" class="btn btn-warning btn-sm " role="button"  aria-pressed="true">Edit</a>
                <a href="/products/add/category/<%= product.id %>" class="btn btn-info btn-sm " role="button"  aria-pressed="true">Add Category</a>
                <a href="/products/delete/<%= product.id %>" class="btn btn-danger btn-sm " role="button" aria-pressed="true" onClick="return confirm('Apa kamu yakin ingin menghapus aku dari ingatan kamu?');">Delete</a>
              </td>
            </tr>
          <% }); %>
       
       
      </tbody>
    </table>
</section>
